* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    position: relative;
    transition: background-color 0.7s ease;
    background-color: #DFD0C0;

}

.logo {
    max-width: 100%;
    /* border: 2px black solid; */
    margin: 10px;
}

img {
    height: 150px;
}

.navbar {
    /* border: 2px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar a {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    /* border: 3px solid #625142; */
    color: #625142;
    text-decoration: none;
    padding: 5px;
    display: block;
    text-align: center;
    margin: 25px;
    transition: color 0.3s ease;
}

.icon-links {
    /* border: 2px red solid; */
    display: flex;
    align-items: center;
    margin: 20px;
}

.icon-links i {
    /* border: 2px red solid; */
    font-size: 30px;
    transition: color 0.3s ease;
    color: #625142;
}

.icon-links button {
    background-color: transparent;
    border: none;
    margin: 20px;
}

.navbar a:hover, 
.icon-links i:hover {
    color: #967d64;
    cursor: pointer;
}

body.home {
    background-image: url("images/beans.avif");
    background-repeat: no-repeat;
    background-size: cover;
}

body.home header {
    background-color: transparent;
}

body.home header:hover {
    background-color: #DFD0C0;
}

body.home .navbar a, 
body.home .icon-links i {
    color: white;
}

body.home header:hover .navbar a,
body.home header:hover .icon-links i {
    color: #625142;
}

body.home header:hover .navbar a:hover,
body.home header:hover .icon-links i:hover {
    color: #967d64;
}

aside {
    width: 20%;
    float: left;
    padding: 10px;
}

article {
    width: 40%;
    float: left;
    padding: 10px;
}

.welcome-msg {
    text-align: left;
    margin-left: 115px;
    margin-top: 100px;
    padding: 0 25px;
    background-color: rgba(228, 218, 208, 0.7);
    width: 600px;
    font-size: 20px;
    font-family: "Noto Sans KR", sans-serif;
    border: black 2px solid;
}

footer {
    display: block;
    clear: both;
    background-color: #DFD0C0;
    text-align: center;
    padding: 25px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

@media screen and (max-width:600px) {

    aside, section, article {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
    }

}

/* .navbar button { 
    background-color: #DFD0C0;
    font-size: 1.2em;
    color:#625142;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.navbar button:hover {
    color:#967d64
}
*/



/*
section {
    text-align: right;
    margin-left: auto;
    margin-right: 150px;
    margin-top: 125px;
    padding: 10px 35px;
    background-color: rgba(228, 218, 208, 0.7);
    width: 600px;
    font-size: 20px;
    border: black 2px solid;
}
*/

form {
    margin: 0 auto;
    width: 50%;
    border: 2px black solid;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}




.form-row {
    /* border: 2px rgb(221, 65, 65) solid; */
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 25px;
    width: 100%;
}

.form-block {
    /* border: 2px rgb(70, 65, 221) solid; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

input[type=text], input[type=email], input[type=tel], textarea, select {
    padding: 15px;
    margin: 8px 0;
    border-radius: 5px;
    font-size: 100%;
    border-style: solid;
}

.contact-info {
    border: #625142 solid 2px;
    width: 25%;
}

.submit-block {
    width: 100%;
}
.submit-btn {
    padding: 15px;
    margin: 8px 0;
    border-radius: 5px;
    font-size: 100%;
    border-style: solid;
    width: 100%;
    background-color: #803e0a;
    color: white;
}

.submit-btn:hover {
    background-color: #ad6833;
    cursor: pointer;
    transition: background-color ease 0.2s;
}

.submit-btn:active {
    transform: scale(.99);
}